
@import url('https://fonts.googleapis.com/css2?family=Tinos&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@700&display=swap');


*{
    margin: 0;
}

body{
    background-color: white;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

/*header*/

header{
    width: 100%;
    
}


.header-container {  
    position: fixed;
    width: 100%;
    height: 100px;
    z-index: 3;
}

/*header-nav*/

.nav-bar {
    width: 100%;
    display: flex;
    justify-content: space-around;
    transition: background-color 0.5s ease-in-out;
   
}
#navbar.scrolled {
    background-color: black;
    height: 60px;
    font-size: 10px;
    
}
#svgnav.scrolled {
    display: none;
}
#svgnav {
    
}

.nav-bar-inside {
    margin-left: 250px ; 
    display: flex;
    justify-content: center;
    align-items: center;
    

   
}
.item-nav-bar{
    
    padding: 15px;
    display: flex;
    align-items: center;
    font-size: 22px;
    
    
    
}

.item-nav-bar2{
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 22px;

}

.item-nav-bar a {
    
    text-decoration: none;
    color: white;
    transition: 0.3s;
}

.item-nav-bar a:after {
    content: "";
    background-color: #7E6845;
    height: 2px;
    width: 0;
    left: 0;
    bottom: -5px;
    transition: 0.3s;
}

.item-nav-bar a:hover {
    color: #7E6845;
    letter-spacing: 0.7px;
    font-size: 19px ;
}
.item-nav-bar a:hover:after{
    width: 100%;
}

.item-nav-bar-button {
   
    display: flex;
    align-items: center;
}
.header-a1  {
    
    color: white;
    text-decoration: none;
    font-size: 18px;
    background-color: #7E6845;
    padding: 15px;
    margin-left: 20px;
    border-radius: 5px;
    transition: 0.3s;
}
.header-a1:hover {
    background-color: white;
    color: #7E6845;
    letter-spacing: 0.5px;
    font-size: 19px;
}

.header-a  {
    margin: 20px;
    color: white;
    text-decoration: none;
    font-size: 18px;
    background-color: #7E6845;
    padding: 15px;
    border-radius: 5px;
    transition: 0.3s;
}
.header-a:hover {
    background-color: white;
    color: #7E6845;
    letter-spacing: 0.5px;
    font-size: 19px;
}

.header-slider-container {
    width: 100%;
    height: 100vh;
    position: relative;
    top: 0;
    left: 0;
    margin: 0;
   
    
}

.input-menu{
    display: none;
}
#menu {
    display: none;
}

.hidden{
    display: none;
}

.slide-content h1 {
    text-align: center;
}

.svg-nav {
    width: 60px;
    width: 60px;
}


@media screen and (max-width : 933px) {
    .header-a1 {
        padding: 8px;
        font-size: 15px;
    }
}
@media screen and (max-width : 897px) {

    .nav-bar {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .nav-bar-inside {
        border-top: 1px solid #9B9B9B;
        border-bottom: 1px solid #9B9B9B;
        backdrop-filter: blur(50px);
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        opacity: 0;
        transition: opacity 0.2s ease-in-out;
    }
    .item-nav-bar {
        opacity: 0;
        transition: opacity 0.5s ease-in-out;
    } 
    .item-nav-bar-button {
        margin-top: 20px;
        padding-bottom: 20px;
        opacity: 0;
        transition: opacity 0.5s ease-in-out;
        
    }
    .header-a1 {
        margin-left: 0;
    }
    
    .nav-bar-inside {
        margin-left: 0;
    }
    
    .header-svg-input-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        background-color: black;
        
        
    }
    .svg-nav {
        margin: 0;
        width: 45px;
        height: 45px;
        margin-left: 58px;
    }
    .input-menu {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 200px;
        height: 100%;
        fill: #a6a6a6;
        

    }
    .input-menu svg {
        width: 30px;
        height: 30px;
    } 
    .input-menu span {
        color: #a6a6a6;
        margin-left: 10px;
        margin-right: 20px;
        font-size: 16px;
        letter-spacing: 5px;
    }
    
    
    
    
}

@media screen and (max-width: 450px ) {
    .svg-nav {
        margin-left: 0px;
    }
    .input-menu span {
        
        margin-right: 0px;
        
    }
    .input-menu {
        display: flex;
        justify-content: flex-end;
        

    }
}


/*slider*/
.slider {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.slides {
    width: 400%;
    height: 100vh ;
    display: flex; 
}
.slide-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.slide-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    position: relative;
    width: 100%;
     
}
.slide-content h1 {
    color: white;
    font-size: 62px;
    padding-bottom: 60px;

}

.slides input {
    display: none;
}


.slide1 {
    background-image: url(bg_1.jpg.webp) ;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 25%;
    transition: 2s;
    position: relative;
}
.slide1::after{
    content: '';
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.slide2 {
    background-image: url(bg_3.jpg.webp) ;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 25%;
    transition: 2s;
    position: relative;
}
.slide2::after{
    content: '';
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.slide3 {
    background-image: url(bg_4.jpg.webp) ;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 25%;
    transition: 2s;
    position: relative;
}
.slide3::after{
    content: '';
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.nav-manual {
   
    width: 100%;
    position: absolute;
    z-index:0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.manual-btn {
    margin-top: 90vh;
    border: 2px solid white;
    padding: 5px;
    border-radius: 10px; 
    cursor: pointer;
    transition: 1s;
    margin-bottom: 20px;
 
    
}
.manual-btn:not(:last-child){
    margin-right: 20px;
}

.manual-btn:hover {
    background-color: white;
}

#radio1:checked ~ .first {
    margin-left: 0;
}
#radio2:checked ~ .first {
    margin-left: -25%;
}
#radio3:checked ~ .first {
    margin-left: -50%;
}

.navigation-auto {
    
    position: absolute;
    z-index: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.navigation-auto div {
    margin-top:90vh;
    border: 2px solid white;
    padding: 5px;
    border-radius: 10px; 
    cursor: pointer;
    transition: 1s;
}

.navigation-auto div:not(:last-child){
    margin-right: 20px;
}

#radio1:checked ~ .navigation-auto .btn1-auto {
    background-color: white;
}
#radio2:checked ~ .navigation-auto .btn2-auto {
    background-color: white;
}
#radio3:checked ~ .navigation-auto .btn3-auto {
    background-color: white;
}



@media screen and (max-width: 1000px ) {

    
}





/*main*/

/*about*/

.main {
    width: 100%;
    height: 100%;
    background-color: white;
}
.about {
    width: 100%;
    height: 100%;
}
.image-container {
    width: 100%;
    height: 100%;
    background-image: url(bg_4.jpg.webp) ;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
    background-attachment: fixed;
    position: relative;
    z-index: 0;
}
.mascarpone-description {
    position: relative;
    z-index: 1;
    background-color: white;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 80px;
    
    
}
.masc-description-h1-span-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}
.mascarpone-description p {
    margin: 60px;
    margin-top: 30px;
    font-size: 21.5px;
    letter-spacing: .5px;
   
    
}

.masc-description-h1-span-container-span {
    color: #7E6845;
    font-family: 'Tangerine', cursive;
    font-size: 83px;
    text-transform: capitalize;
}
.masc-description-h1-span-container-h2{
    font-size: 40px;
    letter-spacing: 4.5px;
   
}

#svg-descr {
    position: relative;
    top: -39px;
    left: 0%;
}

.info-row {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 50vh;
}
.info-row-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    
}
.info-row-item strong {
    font-size: 40px;
    
}
.info-row-item span {
    font-size: 20px;
}

@media screen and (max-width: 561px) {
    .info-row {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
}


/*services */


.our-services {
    width: 100% ;
    height: 100% ;
    background-color: #FAFAFA;
    display: flex;
    flex-direction: column;
}
.our-services-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}
.our-services-title span {
    color: #7E6845;
    font-family: 'Tangerine', cursive;
    font-size: 100px;
    text-transform: capitalize;
}
.our-services-title h1 {
    font-size: 40px;
    letter-spacing: 4.5px;
}
.icon {
    color: white;
    font-size: 70px;
}
.our-services-description {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    margin-top: 20px;
}
.col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.col-icon{
    width: 130px;
    height: 130px;
    border-radius: 130px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.col-text {
    margin-top: 30px;
    width: 50%;
}
.col-text h1 {
    color: #333333;
}
.col-text span {
    font-size: 18px;
    letter-spacing: 1px;
    color:  #6F6F6F ; 
}

@media screen and (max-width : 950px) {
    .our-services-description {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
    }
}





/*menu*/
.menu1 {
    padding-top: 50px;
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    
}
.menu1-title {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.menu1-title span {
    color: #7E6845;
    font-family: 'Tangerine', cursive;
    font-size: 83px;
    z-index: 1;
    text-transform: capitalize;
}
.menu1-title h1 {
    position: relative;
    z-index: 2;
    font-size: 40px;
    letter-spacing: 4.5px;
   
}

.menu1-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;

}
.menu1-container-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.menu1-container-title{
    text-align: center;
    margin-bottom: 20px;
}
.menu1-container-col-item {
    display: flex;
    justify-content: space-evenly;
    border: 1px solid #e6e6e6;
    border-radius: 5px;
    padding: 30px 20px;
    margin: 20px;
    transition: 0.5s;
}
.menu1-container-col-item:hover{
    background-color: #7E6845;
    cursor: pointer;
    
}
.menu1-container-col-item:hover .menu1-container-col-item-price {
    border-bottom: 3px solid white;
    color: white;
}
.menu1-container-col-item-img {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    margin-right: 10px;
}
.menu1-container-col-item-description {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-right: 10px;
}
.menu1-container-col-item-price{
    padding-top: 12px ; 
    height: 20px;
    border-bottom: 3px solid #7E6845;
    transition: 0.5s;
}

.menu1-container-choice-sec {
    display: none;
    
}
.menu1-container-choice-sec button {
    color: white;
    text-decoration: none;
    font-size: 18px;
    background-color: #7E6845;
    padding: 10px;
    border-radius: 5px;
    transition: 0.3s;
    border: none;
    
}

.menu1-container-choice-sec button:hover {
    background-color: black;
    color: white;
    letter-spacing: 0.5px;
    font-size: 19px;
    
}

.img1 {
    background-image: url(breakfast-1.jpg.webp);
}
.img2 {
    background-image: url(https://preview.colorlib.com/theme/appetizer/images/breakfast-2.jpg);
}
.img3 {
    background-image: url(https://preview.colorlib.com/theme/appetizer/images/breakfast-3.jpg);
}
.img4 {
    background-image: url(https://preview.colorlib.com/theme/appetizer/images/lunch-1.jpg);
}
.img5 {
    background-image: url(https://preview.colorlib.com/theme/appetizer/images/lunch-2.jpg);
}
.img6 {
    background-image: url(https://preview.colorlib.com/theme/appetizer/images/lunch-3.jpg);
}
.img7 {
    background-image: url(https://preview.colorlib.com/theme/appetizer/images/dinner-1.jpg);
}
.img8 {
    background-image: url(https://preview.colorlib.com/theme/appetizer/images/dinner-2.jpg);
}
.img9 {
    background-image: url(breakfast-1.jpg.webp);
}
.img10 {
    background-image: url(breakfast-1.jpg.webp);
}
.img11 {
    background-image: url(breakfast-1.jpg.webp);
}
.img12 {
    background-image: url(breakfast-1.jpg.webp);
}
.img13 {
    background-image: url(breakfast-1.jpg.webp);
}
.img14 {
    background-image: url(breakfast-1.jpg.webp);
}
.img15{
    background-image: url(breakfast-1.jpg.webp);
}
.img16{
    background-image: url(breakfast-1.jpg.webp);
}
.img17{
    background-image: url(breakfast-1.jpg.webp);
}
.img18 {
    background-image: url(breakfast-1.jpg.webp);
}


@media screen and (max-width : 1200px ) {
    .menu1-container {
        display: flex;
        flex-direction: column;

    }
    .menu1-container-col h1 {
        display: none;
    }
    .menu1-container-choice-sec{
        display: unset;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
    #menu1-col2 {
        display: none;
    }
    #menu1-col3 {
        display: none;
    }
    #menu1-col5 {
        display: none;
    }
    #menu1-col6 {
        display: none;
    }
}






/*make a reservation */
.reservation {
    width: 100%;
    height: 100%;
    margin-top: 40px;
  

}
.reservation-container {

    display: flex;
    width: 100%;
    height: 100%;
    background-color: white;
}
.reservation-container-forum-container {
    width: 80%;
    height: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    position: relative;
    
}
.reservation-forum-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 40px;
    text-align: center;
}
.reservation-forum-title span {
    color: #7E6845;
    font-family: 'Tangerine', cursive;
    font-size: 50px;
    text-transform: capitalize;
}

.reservation-forum-title h1 {
    position: relative;
    z-index: 2;
    font-size: 28px;
    letter-spacing: 4.5px;
}

.forum-container {
    
    display: flex;
	justify-content: space-evenly;
    
    height: 100%;
}

.forum-container-col {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;

}

.forum-container-col-item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
   
   
}
.forum-container-col-item div {
    margin-left: 30px;
    width: 90%;
    margin-top: 13px;
}

.forum-container-col-item input {
    width: 80%;
    height: 3em;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding-left: 15px;
    outline: none;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}
.forum-container-col-item input:focus {
    border: 1px solid #7E6845 ; 
}

#select-forum {
    width: 85%;
    height: 3em;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding-left: 15px;
    outline: none;
    -webkit-transition: 0.5s;
    transition: 0.5s;

}
#select-forum:focus {
    border: 1px solid #7E6845 ; 
}

.forum-buttom {
    display: flex;
    justify-content: center;
    align-items: center;
}


.button-forum div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 0;
    margin-top: 37px ;
    height: 3em;
}
.col-item2 div {
    margin-left: 0;
}
.forum-sub {
    width: 80%;
    height: 100%;
    color: white;
    text-decoration: none;
    background-color: #7E6845;
    border-radius: 5px;
    transition: 0.3s;
    font-size: 18;
    border: none;
}
.forum-sub:hover {
    background-color: black;
    color: white;
    letter-spacing: 0.5px;
    font-size: 16px;
}

.map {
    width: 80%;
    height: 100vh;
    margin-top: 30px;
}

@media screen and (max-width: 885px) {
    .reservation-container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
@media screen and (max-width: 555px) {
    .forum-container{
        display: flex;
        align-items: center;
        flex-direction: column;

    }
    .col-item2 div {
        margin-left: 0;
        margin-left: 30px;
    }
    .button-forum div {
        margin-left: 42px;
        margin-top: 30px;
    }
}

/*blog*/




.blog {
    width: 100%;
    height: 100%;
    background-color: #FAFAFA;
    margin-bottom: 38px;
    
}
.blog-title-chefs-cus {
    margin-top: 40px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.blog-title-chefs-cus span {
    color: #7E6845;
    font-family: 'Tangerine', cursive;
    font-size: 83px;
    z-index: 1;
    text-transform: capitalize;
}
.blog-chefs {
    background-color: #FAFAFA;
    margin-top: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;

}
.blog-chefs-item {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

}
.blog-chefs-item-img {
    background-color: black;
    width: 80%;
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 5px;
    margin-bottom: 20px;
}
.blog-img1 {
    background-image: url(https://preview.colorlib.com/theme/appetizer/images/chef-1.jpg);
}
.blog-img2 {
    background-image: url(https://preview.colorlib.com/theme/appetizer/images/chef-2.jpg);
}
.blog-img3 {
    background-image: url(https://preview.colorlib.com/theme/appetizer/images/chef-3.jpg);
}
.blog-img4 {
    background-image: url(https://preview.colorlib.com/theme/appetizer/images/chef-4.jpg);
}

.blog-chefs-item h3 {
    font-size: 18px;
}

.blog-chefs-item span {
    font-size: 14px;
    color: #9a9a9a;
    font-weight: 1000;
}
.blog-chefs-item p {
    margin-top: 20px;
    font-size: 17px;
    padding: 25px;
}

.blog-chefs-item-social ul {
    list-style: none;
    display: flex;
    align-items: center;
    padding: 0;
    
}
.blog-chefs-item-social li {
    margin: 20px;
    
}
.blog-chefs-item-social a {
    text-decoration: none;
    color: #7E6845;
    font-size: 1.3em;
    width: 2em;
    height: 2em;
    border: 1px solid #7E6845;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
    
}
.blog-chefs-item-social a:hover {
    background: black;
    color: white;
}


.blog-imgall {
   width: 200px;
   height: 200px;
   border-radius: 100px;
   background-image: url(https://preview.colorlib.com/theme/appetizer/images/person_1.jpg.webp);
   position: relative;
}
.blog-imgall div {
    background-color: #7E6845;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    position: absolute;
    top: 147px;
    left: 146px;
}
.blog-img6 {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    background-image: url(https://preview.colorlib.com/theme/appetizer/images/person_2.jpg.webp);
 }
.blog-img7 {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    background-image: url(https://preview.colorlib.com/theme/appetizer/images/person_3.jpg.webp);
}




@media screen and (max-width: 1000px) {
    .blog-chefs {
        display: flex;
        flex-wrap: wrap;

    }
    .blog-chefs-item {
        width: 50%;
    }
}
@media screen and (max-width: 560px) {
    .blog-chefs {
        display: flex;
        flex-direction: column;
        align-items: center;

    }
    .blog-chefs-item {
        width: 80%;
    }

    
}





/*footer*/

.footer{
    height: 100%;
    position: relative;
    font-family:'Tinos', serif;
    background: 
    url(bg_2.jpg.webp)
    no-repeat center;
    background-size: cover;
}
.footer::before {
    content: '';
    background: rgba(0, 0, 0, 0.8);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.footer * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.footer ul {
    list-style: none;
}
.footer span{
    color: #9B9B9B;
    max-width: 25em;
    font-size: 1.2em;
    line-height: 23px;

}
.footer a {
    color: #9B9B9B;
    text-decoration: none;
}
.footer h2 {
    color: white;
    margin-bottom: 1em;
}
.footer .container{
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    padding: 4em 3em 4em 3em;
}
.footer .footer-top .container {
    display: flex;
    justify-content: space-between;
    gap: 2em;
}
.social li{
    display: inline-block;
    margin: 0.5em  0.5em  0.5em  0 ;
}
.social a {
    font-size: 1.3em;
    width: 2em;
    height: 2em;
    border: 1px solid white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;

}
.social a:hover {
    background: white;
    color: #111;
}
.row li {
    color: #9B9B9B;
    max-width: 25em;
    font-size: 0.9em;
    line-height: 23px;
    text-indent: 20px
}
.brand-logo {
    text-align: center;
    padding-bottom: 1em;
}
.col1 {
   text-align: center; 
}
.span-col1 {
    padding-bottom: 1em;
}
.title-col2 {
    padding-bottom: 1em;
    text-align: center;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 20px;
}
.col2-days {
    display: flex;
    flex-direction: column;
    margin-right: 4em;
}
.item{
    margin-bottom: 10px;
}
.col2-time {
    display: flex;
    flex-direction: column;
    
}
.timing{
    display: flex;
    justify-content: center;
    align-items: center;
}


.col3-description{
    margin-bottom: 20px;
    text-align: center;

}
.col3-inputs {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.col3-input1{
    margin-bottom: 20px;
}
.col3-button{
    margin-bottom: 20px;
}
.col3-input-item{
    width: 100%;
    border-radius: 0px;
    padding: 10px 0 10px 10px ;
    border: none;
    outline: none;
}

.col3-submit {
    color: white;
    width: 100% ;
    padding: 10px;
    border-radius: 0px;
    border: none;
    cursor: pointer;
    background-color: #7E6845;
    transition: 0.5s;

}
.col3-submit:hover {
    box-shadow: 8px 10px 0 #9B9B9B;
}


@media screen and (max-width: 900px){
    .footer .footer-top .container  {
        flex-direction: column;
    }
    
}
@media screen and (max-width: 1000px){
    .col2-days{
        margin-right: 2.5em;
    }
    
}
@media screen and (max-width: 326px){
    .col2-days{
        margin-right: 2em;
    }
    
}
@media screen and (max-width: 298px){
    .col2-days{
        margin-right: 1em;
    }
    
}



